*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background-color: rgb(245, 239, 239);
}
.my-page{
  
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr)) ;
  row-gap: 100px;
  column-gap: 20px;
}
.side-bar{
  margin-left: 0px;
  display: flex;
  justify-content: end;
  grid-column: span 1;
  grid-row: span 3;
}
a{
  text-decoration: none;
  cursor: pointer;
  font-size: large;
  color:gray;
  font-weight: 100;
}
#dropdown h1{
  color:rgb(162, 159, 159);
  text-align: left;
  font-weight: bold;
  padding: 4px;
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#dropdown{
  margin: 0 20px ;
}
ul{
  padding-top: 20px;
  list-style: none;
  line-height: 25px;
  text-align: right;
  
}
li{
  padding: 4px;
}
#surveys{
  
    border-right: 5px rgb(245, 58, 58) solid;
    padding: 2px;
  
}
#surveys a {
  color: rgb(91, 89, 89);
  font-weight: 900;
  
}
.surveys-body{
  display: block;
  margin-top: 40px;
  grid-column: span 2;
}
.my-page-footer{
  grid-column-start: 1;
}
.surveysDone{
    width: max-content;
    background-color: #F2F2F2;
    margin: 10px ;
    overflow: auto;
    min-height: 400px;
    border: 1px solid rgb(236, 239, 242);
    padding: 30px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
  flex-direction: column;
}
#surveySample{
  display: flex;
  row-gap: 30px;
  flex-direction: column;

  
}
section h1{
  border: 1px black solid;
  padding: 5px;
  border-radius: 5px;
  width: 500px;
  
}
#createNew{
  display: flex;
  justify-content: center;
  margin-top: 30px ;
  
  padding: 10px;
  text-align: center;
  border: 1px black solid;
  width: fit-content;
  flex-direction: column;
  border-radius: 5px;


}
button{
  width: fit-content;
  align-self: center;
  align-self: center;
  background: white;
  margin: 5px;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px rgb(204, 200, 200) solid;

}